name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'oobabooga-tgw-latest.txt'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: free disk space
      run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/share/doc
          docker system prune --all --force --volumes
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build image and push to Docker Hub for RunPod
      uses: docker/build-push-action@v5
      with:
        context: .
        tags: |
          jacoby1218/oobabooga:latest
        push: ${{ github.ref == 'refs/heads/main' }}
